#header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-title {
    margin: 20px;
}